body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:750px;
}
#u1 {
  position:absolute;
  left:45px;
  top:72px;
  width:1440px;
  height:750px;
}
#u2 {
  position:absolute;
  left:2px;
  top:367px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u6 {
  position:absolute;
  left:581px;
  top:352px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u7 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u8 {
  position:absolute;
  left:593px;
  top:364px;
  width:16px;
  height:16px;
  font-family:'anticon Medium', 'anticon';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10 {
  position:absolute;
  left:581px;
  top:390px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u13 {
  position:absolute;
  left:581px;
  top:415px;
  width:368px;
  height:40px;
  font-family:'Microsoft Tai Le';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:24px;
}
#u14 {
  position:absolute;
  left:36px;
  top:8px;
  width:332px;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u15 {
  position:absolute;
  left:593px;
  top:427px;
  width:16px;
  height:16px;
  font-family:'Anticon Regular', 'Anticon';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#BFBFBF;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u17 {
  position:absolute;
  left:581px;
  top:454px;
  width:368px;
  height:24px;
  opacity:0;
  color:#FFFFFF;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:364px;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:40px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u19 {
  position:absolute;
  left:581px;
  top:526px;
  width:368px;
  height:40px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:24px;
}
#u20 {
  position:absolute;
  left:16px;
  top:8px;
  width:336px;
  word-wrap:break-word;
}
