<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SIM-card-customer-data-management-platform</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>dologinservlet</servlet-name>
  	<servlet-class>servlet.dologinServlet</servlet-class>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>dologinservlet</servlet-name>
  	<url-pattern>/servlet/dologinServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>manager_roleservlet</servlet-name>
  	<servlet-class>servlet.manager_roleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>manager_roleservlet</servlet-name>
  	<url-pattern>/servlet/manager_roleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>companyservlet</servlet-name>
  	<servlet-class>servlet.companyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>companyservlet</servlet-name>
  	<url-pattern>/servlet/companyServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>passageServlet</servlet-name>
  	<servlet-class>servlet.passageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>passageServlet</servlet-name>
  	<url-pattern>/servlet/passageServlet</url-pattern>
  </servlet-mapping>
  
</web-app>